<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/dashboard.css">
    <title>DashBoard</title>
</head>
<body> 
    <div class="flex-container">

        <div class="flex-event">
            even event event
        </div>

        <div class="flex-profile">
            <%= data.userData %>
        </div>

    </div>
</body>
</html>