<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/spa.css">
    <title>event alerter</title>
</head>

<body>
    <form action="/login" method="post">
        <fieldset>
            <legend style="font-size: 30px;">Login</legend>
            <div class="input-field">
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <input class="submitbutton" type="submit" value="LogIn">
        </fieldset>
    </form>
</body>

</html>