* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: url(/mainbg.jpg) repeat;
}



.flex-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.flex-event {
    width: 500px;
    margin: 20px;
    border: dashed black;
    padding: 10px;
    flex-grow: 1;
}

.flex-profile {
    width: 500px;
    margin: 20px;
    border: dashed black;
    padding: 10px;
    flex-grow: 1;
}

.event-flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.event-flex-container > div {
    background-color: #fffeec;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    border-radius: 30px;
    box-shadow: 5px 10px #26d4ff67;
}

.event-flex-container > div > h1{
    font-size: 22px;
    margin-top: 10px;
}
.event-flex-container > div > p{
    font-size: 18px;
}
