* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: url(/mainbg.jpg) repeat;
}



.flex-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.flex-event {
    width: 500px;
    margin: 20px;
    border: dashed black;
    padding: 10px;
    flex-grow: 1;
}

.flex-profile {
    width: 500px;
    margin: 20px;
    border: dashed black;
    padding: 10px;
    flex-grow: 1;
}

.event-flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.event-flex-container > div {
    background-color: #ffffff7e;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
  }