* {
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}

body{
    background: url(/mainbg.jpg) repeat;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-event {
    margin:20px;
    border : solid black;
    padding: 10px;
    flex: 50%;
}

.flex-profile {
    margin:20px;
    border : solid black;
    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}